---
Language:          Cpp
BasedOnStyle:      LLVM

BreakBeforeBraces: Attach

AccessModifierOffset:  -4
IndentWidth:           4
TabWidth:              4
UseTab:                Never      

ColumnLimit:           240

PointerAlignment:      Left
DerivePointerAlignment: false

AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false  
AllowShortLoopsOnASingleLine:  false

AlwaysBreakAfterDefinitionReturnType: false
AlwaysBreakTemplateDeclarations:      Yes

BreakConstructorInitializers:       AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false

IndentCaseBlocks:          true
NamespaceIndentation:      All    

SpacesInParentheses:       false
SpacesInAngles:            false
SpacesInCStyleCastParentheses: false
SpaceInEmptyParentheses:   false
SpacesInConditionalStatement: false

AlignConsecutiveAssignments:   false
AlignConsecutiveDeclarations:  false
AlignOperands:                 false
AlignTrailingComments:         false

MaxEmptyLinesToKeep:       2
InsertNewlineAtEOF:        true

IncludeCategories:
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^<.*'
    Priority:        2
  - Regex:           '^".*'
    Priority:        3
  - Regex:           '.*'
    Priority:        4

IncludeIsMainRegex: '([-_](test|unittest))?$'
