---
Language:          Cpp
BasedOnStyle:      LLVM

BreakBeforeBraces: Custom

BraceWrapping:
  AfterCaseLabel:      true

  AfterControlStatement: false
  AfterFunction:         false
  AfterClass:            false
  AfterStruct:           false
  AfterEnum:             false
  AfterNamespace:        false
  BeforeLambdaBody:      false

  BeforeElse:          true
  BeforeCatch:         true
  BeforeWhile:         true

  AfterExternBlock:    false
  SplitEmptyFunction:  true
  SplitEmptyRecord:    true
  SplitEmptyNamespace: true

AccessModifierOffset:  -4
IndentWidth:           4
TabWidth:              4
UseTab:                Never

ColumnLimit:           240

PointerAlignment:      Left

AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine:  false

AlwaysBreakTemplateDeclarations:      Yes
BreakConstructorInitializers:         AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false

IndentCaseBlocks:      true
IndentCaseLabels:      false   

NamespaceIndentation:  All

SpacesInParentheses:       false
SpacesInAngles:            false
SpaceInEmptyParentheses:   false
SpacesInConditionalStatement: false

AlignConsecutiveAssignments:   false
AlignConsecutiveDeclarations:  false

MaxEmptyLinesToKeep:       2
InsertNewlineAtEOF:        true

IncludeCategories:
  - Regex:           '^<.*'
    Priority:        1
  - Regex:           '^".*'
    Priority:        2
  - Regex:           '.*'
    Priority:        3
