################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Release
/.vs/occult
/CMakeFiles
/Debug
/occultc.dir
/x64
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/CMakeCache.txt
/cmake_install.cmake
/occult.sln
/occultc.vcxproj
/occultc.vcxproj.filters
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/occultc.vcxproj.user
/.vs
